.cart {
  border: 1px solid #ccc;
  padding: 16px;
  border-radius: 8px;
}

.cart h2 {
  display: flex;
  align-items: center;
}

.cart .cart-icon {
  margin-right: 8px;
}

.cart-items {
  margin-top: 16px;
}

.cart-item-container {
  border: 1px solid #ccc;
  padding: 8px;
  border-radius: 8px;
  margin-bottom: 8px;
}

.cart-item {
  margin-bottom: 8px;
}

.cart-item p {
  margin: 0;
}

.cart-item button {
  background-color: red;
  color: white;
  border: none;
  padding: 8px;
  border-radius: 4px;
}

.total-products {
  background-color: black;
  color: white;
  padding: 8px;
  margin-top: 16px;
  border-radius: 8px;
}
