.input {
    width: 40%;
    border-radius: 8px;
    border: 2px solid rgb(23, 23, 221);
    padding: 10px;
    box-shadow: 1px 3px 9px rgb(0, 0, 0);

    &:focus{
        outline: none;
    }
  }

  .btn{
    box-shadow: 1px 3px 9px rgb(0, 0, 0);


  }
  .mensajeExito {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: green;
  }
  .mensajeError {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: rgb(255, 12, 12);
  }
 

  